button,
.button {
    background-color: var(--colorDefault40, #3b448e);
    text-align: center;
    color: var(--textColorDefault40);
    border: 0;
}

.button span {
    font-weight: 500;
}

.button span,
.button i {
    color: var(--textColorDefault40);
}

.button.button-outline span,
.button.button-outline i {
    color: var(--colorDefault40, #3b448e);
}

.button.button-outline {
    border: 1px solid;
}

/* Theme default */
.button.button-theme-default {
    background-color: var(--colorDefault40, #3b448e);
}

.button.button-theme-default span,
.button.button-theme-default i {
    color: var(--textColorDefault40);
}

.button.button-theme-default:active,
.button.button-theme-default.active,
.button.button-theme-default.activated {
    background-color: var(--colorDefault60);
}

.button.button-theme-default:active i,
.button.button-theme-default:active span,
.button.button-theme-default.activated i,
.button.button-theme-default.activated span {
    color: var(--textColorDefault40);
}

/* Theme default - Outline */
.button.button-theme-default.button-outline {
    border-color: var(--colorDefault40, #3b448e);
    background-color: transparent;
}

.button.button-theme-default.button-outline span,
.button.button-theme-default.button-outline i {
    color: var(--colorDefault40, #3b448e);
}

.button.button-theme-default.button-outline:active,
.button.button-theme-default.button-outline.activated {
    background-color: var(--colorDefault40, #3b448e);
}

.button.button-theme-default.button-outline:active span,
.button.button-theme-default.button-outline.activated span,
.button.button-theme-default.button-outline:active i,
.button.button-theme-default.button-outline.activated i {
    color: var(--textColorDefault40);
}

/* Positive */
.button.button-positive {
    background-color: var(--colorPrimary40, #387ef5);
}

.button.button-positive span,
.button.button-positive i {
    color: var(--textColorPrimary40);
}

.button.button-positive:active,
.button.button-positive.activated {
    background-color: var(--colorPrimary60);
}

.button.button-positive:active i,
.button.button-positive:active span,
.button.button-positive.activated i,
.button.button-positive.activated span {
    color: var(--textColorPrimary60);
}

/* Positive - Outline */

.button.button-positive.button-outline {
    border-color: var(--colorPrimary40, #387ef5);
}

.button.button-positive.button-outline span,
.button.button-positive.button-outline i {
    color: var(--colorPrimary40, #387ef5);
}

.button.button-positive.button-outline:active,
.button.button-positive.button-outline.activated {
    background-color: var(--colorPrimary40, #387ef5);
}

.button.button-positive.button-outline:active span,
.button.button-positive.button-outline.activated span,
.button.button-positive.button-outline:active i,
.button.button-positive.button-outline.activated i {
    color: var(--textColorPrimary40);
}

/* Calm */
.button.button-calm {
    background-color: var(--colorCalm40);
}

.button.button-calm span,
.button.button-calm i {
    color: var(--textColorCalm40);
}

.button.button-calm:active,
.button.button-calm.activated {
    background-color: var(--colorCalm60);
}

.button.button-calm:active i,
.button.button-calm:active span,
.button.button-calm.activated i,
.button.button-calm.activated span {
    color: var(--textColorCalm60);
}

/* Calm - Outline */
.button.button-calm.button-outline {
    border-color: var(--colorCalm40);
}

.button.button-calm.button-outline span,
.button.button-calm.button-outline i {
    color: var(--colorCalm40);
}

.button.button-calm.button-outline:active,
.button.button-calm.button-outline.activated {
    background-color: var(--colorCalm40);
}

.button.button-calm.button-outline:active span,
.button.button-calm.button-outline.activated span,
.button.button-calm.button-outline:active i,
.button.button-calm.button-outline.activated i {
    color: var(--textColorCalm40);
}

/* Assertive */
.button.button-assertive {
    background-color: var(--colorDanger40, #ef473a);
}

.button.button-assertive span,
.button.button-assertive i {
    color: var(--textColorDanger40);
}

.button.button-assertive:active,
.button.button-assertive.activated {
    background-color: var(--colorDanger60);
}

.button.button-assertive:active i,
.button.button-assertive:active span,
.button.button-assertive.activated i,
.button.button-assertive.activated span {
    color: var(--textColorDanger60);
}


/* Assertive - Outline */

.button.button-assertive.button-outline {
    border-color: var(--colorDanger40, #ef473a);
}

.button.button-assertive.button-outline span,
.button.button-assertive.button-outline i {
    color: var(--colorDanger40, #ef473a);
}

.button.button-assertive.button-outline:active,
.button.button-assertive.button-outline.activated {
    background-color: var(--colorDanger40, #ef473a);
}

.button.button-assertive.button-outline:active span,
.button.button-assertive.button-outline.activated span,
.button.button-assertive.button-outline:active i,
.button.button-assertive.button-outline.activated i {
    color: var(--textColorDanger40);
}

/* Energized */
.button.button-energized {
    background-color: var(--colorWarning40, #ffc900);
}

.button.button-energized span,
.button.button-energized i {
    color: var(--textColorWarning40);
}

.button.button-energized:active,
.button.button-energized.activated {
    background-color: var(--colorWarning60);
}

.button.button-energized:active i,
.button.button-energized:active span,
.button.button-energized.activated i,
.button.button-energized.activated span {
    color: var(--textColorWarning60);
}

/* Energized - Outline */

.button.button-energized.button-outline {
    border-color: var(--colorWarning40, #ffc900);
}

.button.button-energized.button-outline span,
.button.button-energized.button-outline i {
    color: var(--colorWarning40, #ffc900);
}

.button.button-energized.button-outline:active,
.button.button-energized.button-outline.activated {
    background-color: var(--colorWarning40, #ffc900);
}

.button.button-energized.button-outline:active span,
.button.button-energized.button-outline.activated span,
.button.button-energized.button-outline:active i,
.button.button-energized.button-outline.activated i {
    color: var(--textColorWarning40);
}

/* Balanced */
.button.button-balanced {
    background-color: var(--colorSuccess40, #33cd5f);
}

.button.button-balanced span,
.button.button-balanced i {
    color: var(--textColorSuccess40);
}

.button.button-balanced:active,
.button.button-balanced.activated {
    background-color: var(--colorSuccess60);
}

.button.button-balanced:active i,
.button.button-balanced:active span,
.button.button-balanced.activated i,
.button.button-balanced.activated span {
    color: var(--textColorSuccess60);
}

/* Balanced - Outline */

.button.button-balanced.button-outline {
    border-color: var(--colorSuccess40, #33cd5f);
}

.button.button-balanced.button-outline span,
.button.button-balanced.button-outline i {
    color: var(--colorSuccess40, #33cd5f);
}

.button.button-balanced.button-outline:active,
.button.button-balanced.button-outline.activated {
    background-color: var(--colorSuccess40, #33cd5f);
}

.button.button-balanced.button-outline:active span,
.button.button-balanced.button-outline.activated span,
.button.button-balanced.button-outline:active i,
.button.button-balanced.button-outline.activated i {
    color: var(--textColorSuccess40);
}

/* Royal */
.button.button-royal {
    border-color: var(--colorDefault40, #3b448e);
}

.button.button-royal span,
.button.button-royal i {
    color: var(--textColorRoyal40);
}

.button.button-royal:active,
.button.button-royal.activated {
    background-color: var(--colorDefault60);
}

.button.button-royal:active i,
.button.button-royal:active span,
.button.button-royal.activated i,
.button.button-royal.activated span {
    color: var(--textColorRoyal60);
}

/* Royal - Outline */

.button.button-royal.button-outline {
    border-color: var(--colorDefault40, #3b448e);
}

.button.button-royal.button-outline span,
.button.button-royal.button-outline i {
    color: var(--colorDefault40, #3b448e);
}

.button.button-royal.button-outline:active,
.button.button-royal.button-outline.activated {
    background-color: var(--colorDefault40, #3b448e);
}

.button.button-royal.button-outline:active span,
.button.button-royal.button-outline.activated span,
.button.button-royal.button-outline:active i,
.button.button-royal.button-outline.activated i {
    color: var(--textColorRoyal40);
}

/* Light */
.button.button-light {
    border-color: var(--colorLight40, #ffffff);
}

.button.button-light span,
.button.button-light i {
    color: var(--textColorLight40);
}

.button.button-light:active,
.button.button-light.activated {
    background-color: var(--colorLight60);
    color: var(--textColorLight60);
}

/* Light - Outline */

.button.button-light.button-outline {
    border-color: var(--colorLight40, #ffffff);
}

.button.button-light.button-outline span,
.button.button-light.button-outline i {
    color: var(--colorLight40, #ffffff);
}

.button.button-light.button-outline:active,
.button.button-light.button-outline.activated {
    background-color: var(--colorLight40, #ffffff);
}

.button.button-light.button-outline:active span,
.button.button-light.button-outline.activated span,
.button.button-light.button-outline:active i,
.button.button-light.button-outline.activated i {
    color: var(--textColorLight40);
}

/* Stable */
.button.button-stable {
    background-color: var(--colorStable40, #f8f8f8);
    border-color: var(--colorStable40, #f8f8f8);
}

.button.button-stable span,
.button.button-stable i {
    color: var(--textColorStable40);
}

.button.button-stable:active,
.button.button-stable.activated {
    background-color: var(--colorStable60);
    color: var(--textColorStable60);
}

/* Stable - Outline */
.button.button-stable.button-outline {
    border-color: var(--colorStable40, #f8f8f8);
}

.button.button-stable.button-outline span,
.button.button-stable.button-outline i {
    color: var(--colorStable40, #f8f8f8);
}

.button.button-stable.button-outline:active,
.button.button-stable.button-outline.activated {
    background-color: var(--colorStable40, #f8f8f8);
}

.button.button-stable.button-outline:active span,
.button.button-stable.button-outline.activated span,
.button.button-stable.button-outline:active i,
.button.button-stable.button-outline.activated i {
    color: var(--textColorStable40);
}

/* Dark */
.button.button-positive i.dark,
.button.button-positive i.dark+span {
    color: var(--textColorDark40);
}

.button.button-dark,
.button.button-dark {
    background-color: var(--colorDark40, #444444);
    color: var(--textColorDark40);
}

.button.button-dark:active,
.button.button-dark.activated {
    background-color: var(--colorDark70);
}

.button.button-dark:active i.dark,
.button.button-dark:active i.dark+span,
.button.button-dark.activated i.dark,
.button.button-dark.activated i.dark+span {
    color: var(--textColorDark70);
}

/* Dark - Outline */
.button.button-dark.button-outline {
    border-color: var(--colorDark40, #444444);
}

.button.button-dark.button-outline span,
.button.button-dark.button-outline i {
    color: var(--colorDark40, #444444);
}

.button.button-dark.button-outline:active,
.button.button-dark.button-outline.activated {
    background-color: var(--colorDark40, #444444);
}

.button.button-dark.button-outline:active span,
.button.button-dark.button-outline.activated span,
.button.button-dark.button-outline:active i,
.button.button-dark.button-outline.activated i {
    color: var(--textColorDark40);
}

/* Clear */
.button-clear {
    background-color: transparent;
}