@import 'button.css';
@import 'input.css';
@import 'login.css';
@import 'signup.css';
@import 'reset-password.css';
@import 'crn-ion-header-bar.css';
@import 'icon.css';
@import 'checkbox.css';
@import 'toggle.css';

body {
    font-family: var(--fontFamily);
    color: var(--colorNeutral160);
    font-size: var(--textNormalSize);
}

a {
    color: var(--colorDefault40, #3b448e);
    font-size: var(--textNormalSize);
}

.has-header .scroll {
    background-color: var(--backgroundColor);
}

p {
    font-size: var(--textNormalSize);
}

h1 {
    font-size: var(--textExtraBigSize);
}


/* Colors */

.default,
a.default {
    color: var(--colorDefault40, #3b448e);
}

.default-bg {
    background-color: var(--colorDefault40, #3b448e);
}

.default-border {
    border-color: var(--colorDefault50);
}

.light,
a.light {
    color: var(--colorLight40, #ffffff);
}

.light-bg {
    background-color: var(--colorLight40, #ffffff);
}

.light-border {
    border-color: var(--colorLight50);
}

.stable,
a.stable {
    color: var(--colorStable40, #f8f8f8);
}

.stable-bg {
    background-color: var(--colorStable40, #f8f8f8);
}

.stable-border {
    border-color: var(--colorStable50);
}

.positive,
a.positive {
    color: var(--colorPrimary40, #387ef5);
}

.positive-bg {
    background-color: var(--colorPrimary40, #387ef5);
}

.positive-border {
    border-color: var(--colorPrimary50);
}

.calm,
a.calm {
    color: var(--colorCalm40);
}

.calm-bg {
    background-color: var(--colorCalm40);
}

.calm-border {
    border-color: var(--colorCalm50);
}

.assertive,
a.assertive {
    color: var(--colorDanger40, #ef473a);
}

.assertive-bg {
    background-color: var(--colorDanger40, #ef473a);
}

.assertive-border {
    border-color: var(--colorDanger50);
}

.balanced,
a.balanced {
    color: var(--colorSuccess40, #33cd5f);
}

.balanced-bg {
    background-color: var(--colorSuccess40, #33cd5f);
}

.balanced-border {
    border-color: var(--colorSuccess50);
}

.energized,
a.energized {
    color: var(--colorWarning40, #ffc900);
}

.energized-bg {
    background-color: var(--colorWarning40, #ffc900);
}

.energized-border {
    border-color: var(--colorWarning50);
}

.royal,
a.royal {
    color: var(--colorRoyal40, #886aea);
}

.royal-bg {
    background-color: var(--colorRoyal40, #886aea);
}

.royal-border {
    border-color: var(--colorRoyal50);
}

.dark,
a.dark {
    color: var(--colorDark40, #444444);
}

.dark-bg {
    background-color: var(--colorDark40, #444444);
}

.dark-border {
    border-color: var(--colorDark50);
}