.color-white {
    color: var(--white);
}

.color-gray {
    color: var(--gray);
}

.color-black {
    color: var(--black);
}

.color-blue {
    color: var(--blue);
}

.color-light-blue {
    color: var(--light-blue);
}

.color-dark-blue {
    color: var(--dark-blue);
}

.color-purple {
    color: var(--purple);
}

.color-light-purple {
    color: var(--light-purple);
}

.color-dark-purple {
    color: var(--dark-purple);
}

.color-red {
    color: var(--red);
}

.color-light-red {
    color: var(--light-red);
}

.color-dark-red {
    color: var(--dark-red);
}

.color-orange {
    color: var(--orange);
}

.color-light-orange {
    color: var(--light-orange);
}

.color-dark-orange {
    color: var(--dark-orange);
}

.color-yellow {
    color: var(--yellow);
}

.color-light-yellow {
    color: var(--light-yellow);
}

.color-dark-yellow {
    color: var(--dark-yellow);
}

.color-green {
    color: var(--green);
}

.color-light-green {
    color: var(--light-green);
}

.color-dark-green {
    color: var(--dark-green);
}

/* cores primárias */

.color-default {
    color: var(--colorDefault40);
}

.color-positive {
    color: var(--colorPrimary40);
}

.color-balanced {
    color: var(--colorSuccess40);
}

.color-energized {
    color: var(--colorWarning40);
}

.color-assertive {
    color: var(--colorDanger40);
}

.color-royal {
    color: var(--colorRoyal40);
}

.color-calm {
    color: var(--colorCalm40);
}

.color-light {
    color: var(--colorLight40);
}

.color-stable {
    color: var(--colorStable40);
}

.color-dark {
    color: var(--colorDark40);
}