<ion-footer-bar class="bar bar-footer bar-positive component-holder" xattr-theme="bar-positive" align-title="center" data-component="crn-ion-footer-bar">
    <button class="button button-positive button-medium filled" xattr-fullsize="" xattr-theme="button-positive" data-component="crn-button" xattr-size="button-medium" xattr-type="filled">
        <span>Left Button</span>
    </button>

    <h1 class="title buttonIonFooter" xattr-position="text-align: center;" style="text-align: center;" button-footer="buttonIonFooter">Title!</h1>

    <button class="button button-positive button-medium filled" xattr-fullsize="" xattr-theme="button-positive" data-component="crn-button" xattr-size="button-medium" xattr-type="filled">
        <span>Right Button</span>
    </button>
</ion-footer-bar>