<div class="crn-slider display-ion-slider" id="crn-slider-${COMPONENTID}">
  <ion-slide-box class="" auto-play="true" slide-interval="2000" does-continue="true">

    <ion-slide xattr-theme="positive-bg" id="crn-slider-item-${RANDOM}-1" data-component="crn-slider-item" class="positive-bg active crn-slider-item" data-container="true" data-replace="true">
      
      <img alt="Placehold" src="node_modules/cronapp-framework-mobile-js/img/placehold-300x200.png" class="component-holder" style="object-fit: cover;" xattr-position="" width="100%" height="" object-fit="object-fit: cover;" data-component="crn-image" id="crn-image-133495">

      <h2 data-component="crn-label" style="color: white; font-weight: bold; top: 50%; left: 50%; margin: 0; transform: translate(-50%, -50%); position: absolute" data-container="true" data-replace="true">SLIDE 1</h2>

    </ion-slide>


    <ion-slide xattr-theme="royal-bg" id="crn-slider-item-${RANDOM}-2" data-component="crn-slider-item" class="royal-bg crn-slider-item" data-container="true" data-replace="true">

      <img alt="Placehold" src="node_modules/cronapp-framework-mobile-js/img/placehold-300x200.png" class="component-holder" style="object-fit: cover;" xattr-position="" width="100%" height="" object-fit="object-fit: cover;" data-component="crn-image" id="crn-image-133495">

      <h2 data-component="crn-label" style="text-align: center; color: white; font-weight: bold; top: 50%; left: 50%; margin: 0; transform: translate(-50%, -50%); position: absolute" data-container="true" data-replace="true">SLIDE 2</h2>

    </ion-slide>


    <ion-slide xattr-theme="balanced-bg" id="crn-slider-item-${RANDOM}-3" data-component="crn-slider-item" class="balanced-bg crn-slider-item" data-container="true" data-replace="true">

      <img alt="Placehold" src="node_modules/cronapp-framework-mobile-js/img/placehold-300x200.png" class="component-holder" style="object-fit: cover;" xattr-position="" width="100%" height="" object-fit="object-fit: cover;" data-component="crn-image" id="crn-image-133495">

      <h2 data-component="crn-label" style="text-align: center; color: white; font-weight: bold; top: 50%; left: 50%; margin: 0; transform: translate(-50%, -50%); position: absolute" data-container="true" data-replace="true">SLIDE 3</h2>

    </ion-slide>


  </ion-slide-box>
</div>